/* Main Body Styling */
body {
    background: none repeat scroll 0 0 #333333;
    color: #999999;
    font-family: "Helvetica Neue", sans-serif;
    font-size: 13px;
    line-height: 20px;
}
/* Styling for wrapper div added via javascript around project table */
#main-table-wrap {
    background-color: #EEEEEE;
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADwAAAA8BAMAAADI0sRBAAAAJ1BMVEXr6+vq6urs7Ozp6ent7e3u7u7o6Ojv7+/n5+fw8PDm5ubl5eXx8fETrQmTAAAFhElEQVR4Xi3VTXPjSB0G8H+3XhyYS7dkOZlZDuqW5JjiIqllO9wkuZ0MnGTLNjvsxW/Rbm1xsJ23KYpDHGcWFycyBVSF4hCWYmvZI8UH4MjHol27p9+x357n3yCWtM21tZDDeo3Hk2EA0BtMhrxQNAiwuZR2zbuLmf0ALTR45izN0eD1RwWrgYlEc+sCZWQW83PUaJTtHw9RY3apYFMY+VKIRhPqj9zmFr58T2mb4ctfbRU2AhLKEIud+EXuF6B7V7fdu7TjXXUXimkIeAzu+Q5RSpx72h5ingdDV+Er0BVAJnF+wp999EbtXjgWwelCOAOmiLoQWePL08AHqqeSug6gAvC5A+Ao5h2Yu9X6VaOsEozD8ejr8kOS1fWvy7NSkU0AJXSBiAGaAJPeoNXO4icuWh1FiiMHQpv3ehu0dx9RyfloHtVW8WQ094hiQYBhmg2Tz+Uv20PBcZXw5hyTKsm5Qoug3aj0ZXsNn858VNHgy0VUjzrBl98IxaUF3o57QbriS8Od7k0N34h4wDR8WipOHJAN6s7sB6phbSJ7um9iPqW6n04VdArIr65XUwZR3OrdmW/etqlF2Ju3u4Gi7oD7/RXIeSdD4/s8yR/cv4V5IluKGgfkUCeun9F2Ku1KRzX/t3/XG6i2uVAsNIjfVfC2uhSpyQZiyDt1i5sF78wyBUbwFldPUTga97014buUxcs+Ok6Z3VRsNIia4tcvjAqqXX0hd14wszu54wUTqhilsCqf+xUBTlve7s6XyDu7fyklsoQi1oFL7s5feXuIDS5do1dEzsnW6LU1BfkRWENqJBcMwMo59Zt2jTnrfzTtcKMIE7CodHpTChf2MoMPXf570Enc5a2VIsBAV8I+ywyZmSiuVKItqhLtAvo+2ODey26OjyhJgwx+ZxyF9V4ExtEOKcACcf+dEeszql9EMWAjzbTotW+kOlFkHrhDnsOoDdFgT+DPPsv+i9qFz+o/UUAT0Bf8qVXTqgFimkiQXM9O4iWSFw1FakLQkkm1dypU50xMy5PPXTzvlSdfbRSxDek/ZZYw9IwN8ukznhWeUUydWYFDxciCcMOblRFVx31iy0ZIoQARhpQYCjCB6c+1zKZ8MtwMJSJSzyxUEJlKBSBgD3e4yELKwCnGVL77lzFuuvLdX/+o0N7AA94fRgJNc7KR8ZHezV13e6T3rhVUh57Of0hlZvIzIo5S7GEiwkcFi+Dhid+vOgOwiEigfjhuMzUvGrOdYkEgNOk34FpAyv8Z8JquIqEeiK40WzHKwAM+WnpWFZfHXoVvyU85G352S/BHxb89EOk+/bldCr9lTkQzcfmH8hNIXNxSGAWADoBRCIgQ57s0S2paGC6zJF0duIbmk7CNfp93Kd5JfMgv3Wh2c1koxCk0NSCPzXjsM35M/ZRmlHStlNYPBCPQG0LLtVPZQPoAet/GXmMWjL6NeaTId/Cbm/Fj4VjccPhNdUvcPq1XjLj6QPHJBCx+Z+f1gFq4r3PNyf/jhRZ28p/lCvcWElv8wao/7TdWmXPnPC3i4C9wnhqaQv8KDBACzOPxDyNrW+g9q+VuHVA8MNgSWIKnj1HADCE3BCyfMwVSWDkgDaqPTxnQBdLGEZ0JLTEGdGaHBzR4nwm6BhOs9qtcGMTnroFuiJ9zReEDJWIdjDZ7CkvgYV+tQUrZR9ZQoZp5I/iAbSfCW2BvnK1DfYrqeB3CuYIjcBmIxuJ8Ly7qZJ85SMjepOkgO1Es7+H+ZawqRuShYvxQMfrat9KMRApvC6od3J6W9FALGdvc4qd2bnN2gOXAr0F3gs/4adfa0OSlN+wsatlLr+0prDEkf+J+AblQX9A1dDSEMxL7GiK+Iu3DKBTER4japi3p7DB9mYbdGT070P4/JfNcAmbpnUoAAAAASUVORK5CYII=");
    color: #333333;
    padding: 0 40px 20px 40px;
}
/* Hide top strip with Jenkins title and search bar */
#top-panel {
    display: none;
}
/* Style header and footer strips */
.top-sticker-inner,
.footer-table {
    background: none repeat scroll 0 0 #333333;
    font-size: 12px;
    min-height: 25px;
    padding: 5px 40px 5px 40px !important;
    height: auto !important;
}
/* Style header and footer strip links */
.top-sticker-inner a,
#right-top-nav a,
.footer-table a {
    font-size: 12px !important;
    color: #999999 !important;
    font-weight: normal !important;
    text-decoration: none;
}

.top-sticker-inner a:hover, #right-top-nav a:hover, .footer-table a:hover {
    color: #CCCCCC !important;
}

#right-top-nav {
    margin-left: 20px;
    line-height: 20px !important;
}

#right-top-nav span {
    color: #999999 !important;
}

#right-top-nav span a b {
    font-weight: normal !important;
}
/* Reset padding to align Jenkins breadcrumb link with logo and give space for the plus box image used in drop-down menus */
a.model-link.inside {
    padding: 0 20px 0 0!important;
}
/* Hide border for breadcrumbs in header strip */
#breadcrumbs {
    border-bottom: none !important;
}
/* Remove padding and border from footer */
#footer {
    padding: 0;
    border: none !important;
}
/* Rackspace logo */
#rackspace-logo {
    background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAJoAAAAuCAYAAADQpAB0AAALKElEQVR42u2cAURsQRfHL0ssyxLLEpEvYomIWCIilohliSUiloiIiCWWeDwiHhERERERj4iIPhEREcsSEY+IJZZY+sbzW45jZu7t1UfpHv62vffcuTNn/nPmzJnZgtfXVy8iSp/BhsGyQcWgYJAMYokF+QiiZQwaBq8KLwYnf0kXSyzvJRoebEtg3+BOke7SoD+I5fvKf4P/vBeDBuMGFYM5g2GDHlN01qBq8ADZng2mglhiokXEgEHN4M7g1YMbg7J5RcpgR0yn40EsMdE8yBtcKDIdG1Q8pCvwmgMxjTbjaTQmmg29BocWEtUNUga/+N4G8n7AdPmq8DuIJSaaQMHgyUKyF4Mhgwm+70NIvhswbYoYTWMkiCUmmsGKJ/5aROfa4Nygi+8j3D/Hm/2CVDZsBrF8e6JVXSSDXAmDPN/7xXMHBk2DAVP0kEHbQ7S74OvIqEFFYDKI5d1EWwhZTY6iV2Na1c9N4c2OIJQP3cHXkJPYG38s0fIqoNc4ELqbBq98nhG3lSDZkCbVF4/T/qh6zwWx/DPRUgaNEG82KPRn1HQ63LlnZDsi0SaCzy9ZS72Hg1j+mWjrISQ7Qk8ip2K0gJVmKyLRRoPPL5Oqzu34wMC/Ey1r0AohWh5dL4yUo5AMDDg26YcFMlzPin3VHstzw9xfM1iAIF1BuCTwrBWBKYM096uqzjeWMnKqzoPq/hjl/jSY5+9e5TUrAnmudxvMGKxi174gmoxYbJGIaIuCxRYprYh9iuisUk9n/aJ6s1v0ohBtNyLJ2g4irCs9SCC8JCRA5gzuHe+4hsw2yRLUNx3PbuldDbAjynANrDL3pg1uPTaYRW9WXV+kXU+WEzHLHpJUVDwZ9WBDL+HOs+PZjQCBdOuuWYty0jaiJQ2aIURbegPR7iIS7TpshUdj5tRzDdHgKCvbO0VoCIBR3ZhHt2EhQUfG6Xx5f4V7tTfEqBuKTCv+5yAyguc7jvC+usWzzSnS+AZEb8T+PbIRbTKEZG2DbESSpd4wbf4I7PIodA4sHmEPY0nDShI2Qzpm/g0r4rTl+hjl9PMuW9pj0JJDfGTr7UqQPIP+mdB7EOR24b5DGD5PbLZwDKaiAQKhw5Gjrg96VqIf6qELJrFX6cL5G7xZLirR0NXS69JnpF8wuqq6wYJMSYMbB6nzFgK08D49wlNO8zlqqUfacdjzSHT+mrp3q7xqlzwyZRsckCeHTU49qaE1i52mRVv0QK1yr2Ap85n7WXTSlJWwzB6naoo89aaAxIkMF1YEkZKM2haV2jJIi/v5iCQ7DuxSdOivio7K6JFqiVu2HPHWtTZsSC5vUXsJbHCp4x+1Et3V07cnOd1vCysUMccsOiVIqKfuBVX+tiXeSlgGStOTttH9WlckY3D7ifYYJXdGwy8cQWYSneF3pjVWLbo1paNH8L0lBjuylIF3Up3ilx2lf2gpuyGmQN+U9AdvrKXkjN38ZJyGNNpz6hjsWMeQOmUDKoFb9oTek1ptblunVL0IC0lrNIW3+uGLt9CxT33Rjwgd6s6xLK0b1mnRrzNnWc22IuTDrjWpI+5udHtWf8cqPVPT7wjzKGAcXU0iLVqnrAcQ5OmKuDPy4l9I4TW1hGw5nRqo6cqKF4ybCNF7Djn0eB9CoqwjONed3NaBqSVgPg/80mWZluYtZVc9vwy7cdjhj5hKf/vSJ8iCLsNBvqEI9hrQUz+2cQkLonDQroorj/bgIdo6RFuO8JIKumcenZnALd0W/QL3fLGKThLO6EEAaa6jxImIKwzoscRfjy7PyMBbMmh5Rv2fCF7pwpI0nohwSGFeD3TqdGcJCZDQGHKTwXBFGLEFPwphOwOnHqLNQJ7zCEQ7RXfBGdD7Zdy2wvNtB4FB5YVuHfk6PYof0HfJnCYU14ecOTd/Z7UsXiQTIW4sOXSm9XW52+A4dHrJvbo3zvV7xbZ7VvITbdV3JIjO9p0r056jx6K/HoTLkvO8mt+j/eReUmXx9VS06Th8mVBedYlO2vBML9prN0Q5NaansLhx1+GVttVWUssyQFKOZ1cFyY5t7ZXBvcIvRbYMtkhavO4ZBNQyxb0RG9FyHqL1qs4NwyCVravGR5G9CO48reMmcCuu1x2Z/DFPXHElnmuif64HS4hnnVYe6hqS1xx5sJIrYcqA2Xe0dVIQoW2zhbh+60g5TIXYoiG+y50LiRYe8ohn2urQQR+2X/hre1aVJ44dgYTahwvDmuiwJ+btqHIbcardCtlu0oQd1WQOwaljUVMOqe+1mv59OOEd+7rzQmaMSkgaRxNOt3dEPRs1Q5BV07APN2JgF7HbhDzu82JJbYikZXTg/nt4PookLaOz6IoZbGkGDDFl8QIp+R4HUbXn6o+wk1FxTONPvoMETFFJR6y07BpAjjRKj8MW99ii7TnelIow8GoqzrwJ0W8y3QZM7SUWZ5NyC6msiPZg8Jb9sDYuf0htS4UKBttSyIYsuZd43y6DIUU5FQHXKjcnjhwd8PmDURjockBCDw6Lzij1KFPeDlilLrJNKT24IEeRgXpGvYq8W4uOpQ551wJ1020o2x4m3JnnXft8rtEW1/m8JW07rqdUn45j06zer6wIot1BlIKLyUwXxzSk27b/GYtTRm2rxu/045Siwb1BXV2XB/yspzliovklJMfV/I4/t0sazPkIFBPt3bKtFyHxv62K5f8hV3oREhMtllhiosUSE+3fJM/S+KvJIKmIdwupkP6YaB8r/SoxePhFjbxJXum9kursaMRE+zhJ00FHIil6BdEqinAZRnrBk/RdBL3qFMYIieeySn6Ocb0kN4bp5AU8VJfDey3zXFrsjVbF/RXenRb1r4jyJgzyqrxp3t2GcLp9s9JrUlaB92RUG3rR7xG/1yyL94+jU1JlJrBXRZ1vK6A/I+o9IU/YoJ/7dETDOGdklmep9BPkW2KLppuGn2GUDaA7vsne3InBMw3uEft+O5S9I45bP5DZbohV3z16hwYty55rieu7JKzP6bxnsuNF7u9xv0G7yhw16sgNZC6wbbZP3RtAn4q4oJPXqXMKm6xSzlWHGKJdS6LtVeq0KQbGIXbf/tseCE2Z87xzmut16lih7qP0W1GQ/pL++pRT56lBRoyyY5VrytMBfeqItRBOO4jvGHcSAnYrkmTp3FkS0IucVMioM/u7qtwAvQVh3D6xN5qFJFXhHW7R/0k75N7uKJ1D52MPpmBVRlrNBMvqN6YFnsuo3w5s0c4AO1xyr6G85hXlpmj/GCTbpL73fHZmiWV0NsTAXfjMMdqNOpM2q35MnBUjFOB9JPE4fKgIUlWJ0CIdPManLLOGgV9EJ53I+FEQcdji5R55TsdXV3TCsTg7lxfTY1O2Gb0V+U7IoWVX1aOfZyekffDyWeH599A9lIXhHQfwdMvUaYc+GVGDoYYtk+h3CNz1WYnWqw4U7mEM7bkuRLyWBlLWDS4hUAWylBjhLf4uMNKPeP4Zcqa5n8DA0ls+WlaSdYjZy/MZppATUddDOqdGXQbpyFPhoRtC/wz9CgSclB6NOmUFobrwKmvK+5dpQ1kRvSNliFPCQ2UE8amD8OAQl3rNqwVbn9DZE3X+lERLYvwzGn0lvElWdF4OnU4nDllWajuQ5w5jdkjxg2dfeBbjQjy2fyDOHuXIX3TpFfAA5b3ymcNr/BTP/YYwN4KoBbxXg3YeiLZdU/dDMQVLGabtlxChE+Bv8I5TMV3viRO+3XIgU8dxBsAcdbigvj0QeId3bFJ2hr9HHOSt8vw3TdhyDCf+p8xWOfqAkyJjkPYMkn5LouFZWJ3FomUleL8UWJ32RVH+H+JLxG74Q3SIAAAAAElFTkSuQmCC") no-repeat scroll left center transparent;
    display: block;
    height: 70px;
    cursor: pointer;
}
/* Add padding to top of main table */
#main-table {
    margin-bottom: 20px;
}
/* Padding to space left-side panel away from main table */
#side-panel {
    padding-right: 20px;
}
/* Background and shadow for main panel */
#main-panel {
    background: none repeat scroll 0 0 #FFFFFF;
    box-shadow: 0 3px 8px 1px #C2C2C2;
    padding: 10px 20px;
}
/* Default styling for project table cells */
#projectstatus th,
#projectstatus td {
    background: none repeat scroll 0 0 #FFFFFF;
    color: #999999;
}
/* Style project table header links */
#projectstatus th a {
    color: #999999;
    font-weight: normal;
}

#projectstatus th a:hover {
    color: #666666;
}
/* Reduce size of first project table header cell to setup status stripes */
#projectstatus th:first-child {
    padding: 0 !important;
    width: 10px !important;
}
/* Hide first project table header cell contents */
#projectstatus th:first-child * {
    display: none;
}
/* Base styling for project status project table cell, gray background by default to catch all project status states */
#projectstatus td:first-child {
    border-left: 1px solid #E6E6E6;
    border-right: 1px solid #E6E6E6;
    background-color: #CCCCCC !important;
}
/* Hide standard Jenkins project status "ball" graphics in project table */
#projectstatus td:first-child img {
    display: none;
}
/* Remove border from last cell of project table rows */
#projectstatus td:last-child {
    border-right: 1px solid #DDDDDD;
}
/* Error state (red) styling for project table */
#projectstatus td:first-child[data="0"] {
    background-color: #C40022 !important;
}
/* Building state (orange stripes) styling for main project table and build process table on left side */
#projectstatus td:first-child[data="1"],
#projectstatus td:first-child[data="5"],
table.progress-bar.red td.progress-bar-done{
    background-image: url("data:image/png;base64,R0lGODlhGgAaALMAAP+7Hv+3Gv+3GP+1GP+lCP+lBv+jBv+jBP+hBP+fAP+dAP4BAgAAAAAAAAAAAAAAACH/C05FVFNDQVBFMi4wAwEAAAAh+QQFBQALACwAAAAAGgAaAAAEm3CACQJKKicjqcWaQQEDASpbN5Vn6hktoVZwhsrUUGtIMOqtXs5kSxB8wxiS1uKMAjuUk0IMLUlV6XUQm0G7T0Nxuoq6cjvj9Vs8hkHncnMGtD6zm3WWTDLz6xpbeAaCTT9mOGhgcmNbfksBeIkTkYsVF2NemCEqLJk/gzOIdKM/QY6nh22Fq6Bwf36kr3ShrhqTfZa5Nn+1SUURACH5BAUFAAsALAAAAAAaABoAAAR80Kw5A6Xy2svXIFxGfaHGJaB5odfQIZzLwWM6sa294FUn9qVaUHj5dXhACnKxwcR8T6WOeZo2J0ZZMerUTI0BXRbaGk5I21ynvJpqb7o3ltut6JbhtipNuc6JdWdfbFJ0O4MXNCMvdEtocDFihgtjfIJmHjaOVYZZiIALEQAh+QQFBQALACwAAAAAGgAaAAAEfHCZRWmodeKLdR0EJokguYlJeGIpNqCIKcafSrWuveAW6vWiX6lD0o0qnAoPqDT6ZEQXy5i8UYPQTPaINP4WAd33hZVGa2V0xUhubhPv8bM7FYXryHk+vRhqc3xtVm86ghQ0HzAiOkt9jGx8fXoUhmNeRW5mmYlnlJeAFBEAIfkEBQUACwAsAAAAABoAGgAABH1wLSNrqJXii3UdBDaJIBZuYnJaKZkirgh/66KS9c2KnsR1mBIwmOv9JLpdJbkYpHrNJw/DXBxtNes0KOUOLVlooAZ1bj9niTCDW2bN7hjb+1W3NrnsmFq7jlBpaxJlYXRIbyk1cBUzaDJEfG1xImlRlYt/NJcrVZidm6ALEQAh+QQFBQALACwAAAAAGgAaAAAEfnBJI2uoleKLdR0EtngSWCXhJqIiVyHisMKY3NapxOLYLrmZm4hk6sRyE1UPuQAufAubsbYiOaHNFbMa41KnFiapiRxLg1/0R3w8Mc/P97A7T0uYASQ23xOCf14lbDx/cFiGSIY0HzOEOm96iYElkwuDa3WMbnSbdiNtf1EhEQAh+QQFBQALACwAAAAAGgAaAAAEfnDJZaYMVlaL7Z4DkX1SOCUil6FZNyHZsMKWbKUgvrC1nrQr0sI1IZk8MR+JuNMNVzobshZUWXgTJnYhLcaqt1HLKWQKu5rvNCfunZzoLbcNAtff46szoCvbLytJdCVkVHpqeHcWNIovbolskHODk2tchY9eGYeGkpVpmaA5EQAh+QQFBQALACwAAAAAGgAaAAAEjXBJmcxcINxVb77dBAwEaImkpCSlqE1rK31TgnjDZuMwi8uxX+00ew09RgkRkzqigAnkJeia+mY5E09btMowSSpTtxyRXd9QMb3MOrFnEVv4Hquu8N7XXOf33WJgUHsBMmpgcV1/c08Xe24LgX6RUSg6N5YgmEyDdJQykxxlkKKNi1x2d49eF00Uo4wzEQAh+QQFBQALACwAAAAAGgAaAAAEezCsSQ2d8i57iebU4F3gNFzJSGVUqrETop2afNGTe6uLHvKlBWwSHAZFnxmPJ9T4MM6Z8zi9DJ9NFA9XkSZXzGL4ViV/TePdWZNjcnvu9eK98bZfPGwA+GIX5UgkSi1xWnYxh4hmbD+GaoSLXZFEj5KNgiFOhZCXlmhrEQAh+QQFBQALACwAAAAAGgAaAAAEfHCFRaupdOJ16yBb54GYuFEJWWlVurEUsg2njNGtSn2Ye+smySkI48x0xl/utfGtQrNh9IQpOjNNHa405a6QRPBNOoaOzGfvLttFidVrdNz90l0lQKZcCF/w+n8Ld1t0ZRU2HjVtC0iBgo12i0mJco6TO29zhZRLaRZHaBEAIfkEBQUACwAsAAAAABoAGgAABH1wrSDrMnbmawfJWPdZoURZyVidVbplSDZscYeqknfLeGluPg2JByJKXBbWESesBGdFm4WpXCBXmYQMuI2amMEAWDokO0Xe3LgCbTHbS7PkyZ3ukrjrr4xNN+dGZ2hxcnoLcAs1bDRdhGx5bz2Ngosvj346fIdZb5yDlGpREQAh+QQFBQALACwAAAAAGgAaAAAEf3DJIOsydtGM6yBc9oXVViWgZUqoNWQLIsKylbK3NJ758lqdEiw4IXl6RN+tpcowhcCZUWd5Fqu91UUadcEyASRY7BlyK8QdWkSmYs8L669bnobfqpz1m9Rum3Q6bYI8cHtzEjV1FopuOGx4R4E+Zl6TahJJmDCIcT2dcoNKIREAIfkEBQUACwAsAAAAABoAGgAABHxwyRXmNJbmhecgWeeBlqhZCTlVqLoMG5LBmTy2s5tuYcaWvp7lI7xJdpbf0XW6zDamFy6ZQa6KEhpwiKUwowHms6t1Gs1niam8sGarLjZnvJWEpyudS6kOdr85ZHhvg1IWNh4xdG1MRBNuLy5RcpNkgEMujXCLbYF1WV8RACH5BAUFAAsALAAAAAAaABoAAAR9cEkZ5jR21YznIFz2hdM2JaBlSqg1ZAsiwrKXsrc0nvkqdSUYUJJbDBe7y4yX8bVUJI9wiWtmnkHL8RXVdTXFYyC3nbpgonC6y2WeLVikWdodw4t2N2W+Z6tdf2gLcXJ3VBI1dBaJXno6OYRJRoc/lFuBj46Fmm2VgF+SCxEAOw==") !important;
}
/* Success state (green) styling for project table */
#projectstatus td:first-child[data="4"] {
    background-color: #00A96D !important;
}
/* Building state (orange stripes) styling for build process table on left side */
table.progress-bar.red td.progress-bar-done {
    background-color: #CC0000;
    border: 1px solid #BBBBBB;
}
/* Building state (green stripes) styling for build process table on left side */
td.progress-bar-done {
    background-color: #3465A4;
    background-image: url("data:image/png;base64,R0lGODlhGgAaAMQAAH7Vt2zPq2rNq2bNqWjNqSC1gR6zfhyzfhizfByzfBqzfBixehaxehKxeBSxeBCvdg6vdgKrbgCpbP4BAgAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAACH/C05FVFNDQVBFMi4wAwEAAAAh+QQFBQATACwAAAAAGgAaAAAF0+AAjEDwRFIaISJpoipCAoMBS9HSjvWd74KFz0CYBYdFnjCFewhmg6XKSRochgHolRkxZEcCh09nFHPJJNv5SSKoVQv2iOA77ADh+j3MddwHCj5+UIEqBnJ4CUOIAooqDklzZo+RAASTEQqMbziaRpwJf5M4oVCjEYhWgqlbj1pIr1xEVQyrULV9cgIFeka8XHYkAifAe8QqwXOcEQx3bj7NM1I4BX/TEdVQPlRVCNupCLKpy4dQbzmVBA1j6esxzr/vMwTxXX/uhvc3DX/L/OY+QgAAIfkEBQUAEwAsAAAAABoAGgAABc8gMkwkEDwkGYmpiabRWA4GHC3yBND20go+mIHwC6qGM+Mk8hC0BkqmUzc42AyBp1WY1QkcvRzgG04RarDFVHfurQFg2EFMltNtDvFAgdfzj28CCVeBgyoORCUEcYeJbIwRCoFoKpI/lBEJepCZmzAOb1V4oVsqjjulS0gzqRGUOwyjT7GfU2MFNnM/uHYlAi8qur7AS8IAbTAMYsgqyilQNgV6UdItCDZNT9cw2TOET5iuoZgLpwQNPeboKiyKvOzL765660f0MA164fngMCEAIfkEBQUAEwAsAAAAABoAGgAABdBghAxTCQRPWYqkiarT0k7AYMCRrNa3GhE7wQJnAJqExN1g6HsIlMyV0zQ4EANKq8+ApQkcON0R7BMDCL3V4mlCh9mTL+4wA8h99J0C56gP9j59SkRwdgmEQYcrDkY0BGSLjWeQEQqFAmkTlZdpEQl+lJ6ggYVVfKVaJUVZRJKmPqUMp0qygUEFc3UCuHgtdim9QcAreY6ZEQx1bj7JVFGaBX7PEdEqAwg4U1TYTYXHBqXfpWGSBA3kO+Y+I+m8K+xt7hEGfudb9T4Nfsf6SmkhACH5BAUFABMALAAAAAAaABoAAAXTYBQhA2ACwSOJInmiKruU52CsMm3aeGQQL8Gi5wOehETBazBkRR7KWpP1WB6IhoAVqzUJHMRZEOwUmwi3cvSclq2/xIMOAHfKawqiYz7IO/cvCVhrdIJOBoQCekZnZCwOjAAEDk4KiW0ilkGYCXyOIp1Lnw6EA1d/paciP1uHkaY9pEsMeqW0TnMCBXG5u3ZBMSx3R8Eiw5KYEQxzaETLUkQFfFMi0jUIRFBL2E7aO8mIS+CEDWGRBOVl50QuJwS+LO1nBYd86SwG9j0NfMn84itCAAAh+QQFBQATACwAAAAAGgAaAAAFzGAkIgNgAsEjruSJqutSnoOxirJb3wbhCotbpPcLrh4CnfGYpC1FAd1BaIjSpryfQ5g7Cba3LoBgCzdNZO75KzzMTOybm6YQOt6AQf129yaoZwACfzyBYCsOPicEhyKJLgRCCoECZSuTP5YRCXgDjZudjQ6BA1iIpKZDiialVKt5qaM6DHaktCtzXgVteAK7N70wuMFtkJoRDHhpN8lOQgWdTxHQNAhCSDrWN9isxwak3mcEDVyv4+UuvyzK6iPKVJ3kPPE3DZ3H9jo2IQAh+QQFBQATACwAAAAAGgAaAAAFzmAkRsgAnEDwjGKJpuu4mOhgsNH82qxBvIIFzgcUjh6CnfGYrC0jhsDuMJTWqCzaSeDA6VBc74twYy2aJ7IXHWYdtID26F1T4BzwgZ2FByeGaHF/PWgEXXw/KIZ3iSdlIwqBAo8ikUA4CXmHI5k7mxEOgQNYI6FTPY0Ao0Opq6WiDHewbnACBTh0YLdztTG8QL4icGosDMOUEQxKOAV5TxHNNQg4SDvTLNUnPIQ7yAaFDV6pBOFmjQS7Iy6K6S1w5SMGefAi8js4DXnI+d0hACH5BAUFABMALAAAAAAaABoAAAXV4BONUoQMQAoEImmiajBG5QKngzHXN5C7BoIKIFjsIsFh0fUQDAdGplMFBQaeh6PhSs3ObErHEawSiEmLaYqgc6WH7GPPfDzMz7TI4ak4OnoDfS5/ZQlaakSGQGoEeCUOQiqNfpFEbXkKiAKXJZlUjhEJgKCiQ155DogDp4+qWpU+rEiwq4OqDH63LnZKBXVzvnm8ZS3Cc8URDD1xLspwnAWAUXnRT9MlqghHTU/aTE+cSKrhBowNY7AE526VBMF5J3DvJfE463kGgPcl+VThDYD+9QgBACH5BAUFABMALAAAAAAaABoAAAXUYPBM5BQhQwmIpYmqRhstKQkMcTnX0y0bBJVg8QvahrqHQDUgJpe2ps4QYB5+1eiVtBM6ZDSvbgHtEXJcsurcOvAAgq/OLda9BwqZ457XyXsCCT9lcIJTUAAEfyYORmaLEY1HaCYKhAKUEZZRkAl3nTwDW1wOhKJ6hKMmQFZFTKhMDLBRslx0RwUyt4C5tm8CI3O/wSYMb2w6xmtoEQV3TlzOTNATSkwIMtZR2DqmmQbeP2sNYI6J5GNGib1cLzYE7C41N+hcBnf1q/M4Mg13mf5KhAAAIfkEBQUAEwAsAAAAABoAGgAABdAgEDxTOUXIYIqkiarlYLjRAk+ATNvrQhuElcDnAgppD8FqQCxFkstmxBBYHn7VUu7q5GkFjt0NAHYtlFrCzIzGqV2HcRkuD5sc44GChl/uXW1kCT+BAoNFKwR2Tg5BaYsnjV9rTgqFlCeWWgOQEQl5nZ+bXIyBA6SRbac/jjirRa0ADHymsy4OpjRxQgW6cr1Ou18twXLEEQxjby7JiZQRBXlS0NIuUJsISKbZJgammFPfNLEEDTvk5maJwE4p6zTurulOBnnzJ/Wb4A15+zAhACH5BAUFABMALAAAAAAaABoAAAXQ4AQEz2ROETKcY3mmqzgYb7TEMv3ep7DUBgLLBxSaAL/XQ8AaJE2RZRMYaB6o1h0OIHDUeMfujnkk6KALssj8OmzF7bcX6tgOFLV6E38yqLkJQH8CgS9Ga3N0hwAEiSiJXGcoCoOSEZRHA44RCXabnZlXLw5/A6J0ZACmRVkvQScDDHmlsqN/BTVuQ7hxQ7lvLlC6YcERDFtsL8csySgFdk/O0EqlCDVSmdZQfk2W3JmSC4sEDV/j5S/IvFAqzOso2jLo23bzKAYxqpYNdvsrIQAh+QQFBQATACwAAAAAGgAaAAAFzSAgBk9kmsggjuUZpetguNGixrNrr8JCG4QVoPcLigY+10MgRNKWwsMv0JS6DNQYbcdzbG8igfe0YK4IObJZhHYdwMPx6S0UuxzwgYKGb+5PBmtDCT+CAoQnDkZsciaKQgSNEYZpJgqUNApNkgl5nGADVomCoXxrpVeLAKiAiwMMpk2wd2sCBTR0PLducC1zcAK+JrlhNAxwbS7HkJUFeUknzk3QEVAxCE+k2ICklRGBTZULqgQNW+TmJzBnu+rI7SZ56YDyP+E0DXne+SEAIfkEBQUAEwAsAAAAABoAGgAABc0gIALBE50nMoykiUbqOBhvtKwy/d6jsNQGAssHFIoGv9dDwELWlrIDMNCUvgzUkaPG6213OJGAyxwRdKhFWXR+HcIAwRf1Hs4jDvhAUcs3+SgGa3EJQIMChSgORmx3eIwABHcKh2gnlEOWEXqOCZw1CVV9gwNWimulRaJXjAMMo02vLw5rAgU1dT23bmECLnRwvrhwmgxwbS/GLAQ1BXpJKM5N0BFQMghPpNiBpJqCTZYLkAQNXOPlKDFmu+nH7BEGeuiB8jV6mg33NQ0hACH5BAUFABMALAAAAAAaABoAAAXN4ACMQPBEKIqIpJmqJDAYb7Sw41zfpLDUBkLMBxTmfq+HIDZAppSkwQEYYE5fhupI4NjhAFxvjPZaLEkEcsocI9QO3/ALPuymHN+BooZn7lMGZ1sJQIJghHdGIwR2iW2NEQqGAmookkOVCXmQEZpMnIZSfKFXd1ZFp1iKAwyjTK0vDoICBW9xtXM4Aie5Q7wpdIuVEQxfaTXFMU4oBXnLEc1MNVBRCNOh1oChw4FMlQuKAAQNO+HjLyttuCnpaOsRBnnkWPIvDXnD9941IQA7") !important;
    border: 1px solid #BBBBBB;
}
/* Border styling for empty progress bar of build process table on left side */
td.progress-bar-left {
    border: 1px solid #BBBBBB;
}
/* Blue color link styling */
.model-link,
#side-panel a {
    color: #1D71BF !important;
    text-decoration: none !important;
}

.model-link:hover,
#side-panel a:hover {
    color: #1D71BF !important;
    text-decoration: underline !important;
}
/* Style to override down-arrow image in favor or plus box image for drop-down menus on projects, builds, and breadcrumb links */
#menuSelector {
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAMCAYAAABWdVznAAAAPUlEQVR42r2P0QYAMAwD8/9/cF+bGdOHqQlloULrnArwTtpyloIEtIdmX4YImBuA11yGAPjww9CQRz5k2gtOZAIbOGyXtAAAAABJRU5ErkJggg==") !important;
}
/* Width override for floating buttons on bottom of config screens */
.bottom-sticker,
#bottom-sticker {
    width: 70%;
}

.bigtable tr {
    border: 1px solid #DDDDDD;
}

#viewList td.inactive,
#viewList td.filler {
    border-bottom: 1px solid #DDDDDD;
}
/* Drop-down menu styling */
.yui-skin-sam .yuimenuitem-selected {
    background-color: #FFFFFF !important;
}

.yui-skin-sam .yuimenuitem a {
    color: #1D71BF !important;
}

.yui-skin-sam .yuimenuitemlabel-disabled, .yui-skin-sam .yuimenuitemlabel-disabled:visited {
    color: #1D71BF !important;
}

.yuimenu li a {
    line-height: 1.8em;
    cursor: pointer !important;
}

.yuimenu li a:hover {
    background: #eee !important;
}
/* Button styling */
.yui-button button {
    background-color: #C5C5C5;
    background-image: linear-gradient(#FFFFFF, #C5C5C5) !important;
    border-radius: 3px 3px 3px 3px;
    color: #333333;
    cursor: pointer;
    display: inline-block;
    font-family: "Helvetica Neue", sans-serif;
    font-size: 13px;
    line-height: 20px;
    margin: 0;
    padding: 2px 10px 1px;
    text-align: center;
    text-shadow: 0 1px 1px #FFFFFF;
    vertical-align: middle;
}
/* Input field styling */
input[type="text"],
input[type="password"],
input[type="number"],
textarea {
    background-color: #FFFFFF;
    border: 1px solid #CCCCCC;
    border-radius: 3px 3px 3px 3px;
    height: 25px;
    padding: 1px 4px 2px;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.15) inset;
}
/* Shorten input fields */
.setting-input {
    width: 98%;
}
/* Background for build history table on left side */
#buildHistory.pane {
    background: white;
}
/* Drop-down menu item styling */
#viewList td.inactive:hover {
    background-color: #CCCCCC;
    color: #FFFFFF;
}
/* Search wrapper */
#search-wrap {
    text-align: right;
    padding-top: 25px;
}
/* Remove help icon from right side of search field */
#search-wrap #searchform a {
    display: none;
}
/* Remove background image from search field */
#search-wrap #searchform #search-box {
    width: 33%;
}
