/**
 * Canon for Jenkins CSS Overrides
 *
 * @author Rackspace Web Team
 */

body {
    font-family: "Helvetica Neue",sans-serif !important;
    font-size: 13px !important;
    line-height: 20px !important;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADwAAAA8BAMAAADI0sRBAAAAJ1BMVEXr6+vq6urs7Ozp6ent7e3u7u7o6Ojv7+/n5+fw8PDm5ubl5eXx8fETrQmTAAAFhElEQVR4Xi3VTXPjSB0G8H+3XhyYS7dkOZlZDuqW5JjiIqllO9wkuZ0MnGTLNjvsxW/Rbm1xsJ23KYpDHGcWFycyBVSF4hCWYmvZI8UH4MjHol27p9+x357n3yCWtM21tZDDeo3Hk2EA0BtMhrxQNAiwuZR2zbuLmf0ALTR45izN0eD1RwWrgYlEc+sCZWQW83PUaJTtHw9RY3apYFMY+VKIRhPqj9zmFr58T2mb4ctfbRU2AhLKEIud+EXuF6B7V7fdu7TjXXUXimkIeAzu+Q5RSpx72h5ingdDV+Er0BVAJnF+wp999EbtXjgWwelCOAOmiLoQWePL08AHqqeSug6gAvC5A+Ao5h2Yu9X6VaOsEozD8ejr8kOS1fWvy7NSkU0AJXSBiAGaAJPeoNXO4icuWh1FiiMHQpv3ehu0dx9RyfloHtVW8WQ094hiQYBhmg2Tz+Uv20PBcZXw5hyTKsm5Qoug3aj0ZXsNn858VNHgy0VUjzrBl98IxaUF3o57QbriS8Od7k0N34h4wDR8WipOHJAN6s7sB6phbSJ7um9iPqW6n04VdArIr65XUwZR3OrdmW/etqlF2Ju3u4Gi7oD7/RXIeSdD4/s8yR/cv4V5IluKGgfkUCeun9F2Ku1KRzX/t3/XG6i2uVAsNIjfVfC2uhSpyQZiyDt1i5sF78wyBUbwFldPUTga97014buUxcs+Ok6Z3VRsNIia4tcvjAqqXX0hd14wszu54wUTqhilsCqf+xUBTlve7s6XyDu7fyklsoQi1oFL7s5feXuIDS5do1dEzsnW6LU1BfkRWENqJBcMwMo59Zt2jTnrfzTtcKMIE7CodHpTChf2MoMPXf570Enc5a2VIsBAV8I+ywyZmSiuVKItqhLtAvo+2ODey26OjyhJgwx+ZxyF9V4ExtEOKcACcf+dEeszql9EMWAjzbTotW+kOlFkHrhDnsOoDdFgT+DPPsv+i9qFz+o/UUAT0Bf8qVXTqgFimkiQXM9O4iWSFw1FakLQkkm1dypU50xMy5PPXTzvlSdfbRSxDek/ZZYw9IwN8ukznhWeUUydWYFDxciCcMOblRFVx31iy0ZIoQARhpQYCjCB6c+1zKZ8MtwMJSJSzyxUEJlKBSBgD3e4yELKwCnGVL77lzFuuvLdX/+o0N7AA94fRgJNc7KR8ZHezV13e6T3rhVUh57Of0hlZvIzIo5S7GEiwkcFi+Dhid+vOgOwiEigfjhuMzUvGrOdYkEgNOk34FpAyv8Z8JquIqEeiK40WzHKwAM+WnpWFZfHXoVvyU85G352S/BHxb89EOk+/bldCr9lTkQzcfmH8hNIXNxSGAWADoBRCIgQ57s0S2paGC6zJF0duIbmk7CNfp93Kd5JfMgv3Wh2c1koxCk0NSCPzXjsM35M/ZRmlHStlNYPBCPQG0LLtVPZQPoAet/GXmMWjL6NeaTId/Cbm/Fj4VjccPhNdUvcPq1XjLj6QPHJBCx+Z+f1gFq4r3PNyf/jhRZ28p/lCvcWElv8wao/7TdWmXPnPC3i4C9wnhqaQv8KDBACzOPxDyNrW+g9q+VuHVA8MNgSWIKnj1HADCE3BCyfMwVSWDkgDaqPTxnQBdLGEZ0JLTEGdGaHBzR4nwm6BhOs9qtcGMTnroFuiJ9zReEDJWIdjDZ7CkvgYV+tQUrZR9ZQoZp5I/iAbSfCW2BvnK1DfYrqeB3CuYIjcBmIxuJ8Ly7qZJ85SMjepOkgO1Es7+H+ZawqRuShYvxQMfrat9KMRApvC6od3J6W9FALGdvc4qd2bnN2gOXAr0F3gs/4adfa0OSlN+wsatlLr+0prDEkf+J+AblQX9A1dDSEMxL7GiK+Iu3DKBTER4japi3p7DB9mYbdGT070P4/JfNcAmbpnUoAAAAASUVORK5CYII=);
}

.logo {
    width: 154px !important;
    height: 34px !important;
    background: url('logo-rackspace.png') no-repeat;
    margin-top: 8px;
    cursor: pointer;
}

#jenkins-head-icon, #jenkins-name-icon, #right-top-nav {
    display: none;
}

#header .login {
    top: inherit;
    margin-top: 3px;
}

#header .login b {
    font-weight: normal;
}

#header,
#footer-container {
    background: none repeat scroll 0 0 #333333 !important;
    color: #999999;
}

#footer-container a {
    color: #999999;
}

#breadcrumbBar {
    background-color: transparent;
}

.top-sticker-inner {
    background: none repeat scroll 0 0 #FFFFFF !important;
    box-shadow: #c2c2c2 0 3px 8px 1px;
}

#breadcrumbs LI:hover, A.breadcrumbBarAnchor.mouseIsOverMenuSelector {
    background-color: transparent !important;
    color: #333 !important;
}

#breadcrumbs {
    color: #888 !important;
    text-decoration: none;
    text-shadow: 0 1px #fff;
}

table.pane tr:nth-child(odd) td {
    background-color: #fbfbfb;
}

th.pane {
    background-color: transparent;
}

#side-panel .task-link {
    color: #333;
}

.bottom-sticker-edge {
    display: none;
}

.bottom-sticker-inner {
    margin: 0 0 0 -15px;
    padding-left: 15px;
    background: none repeat scroll 0 0 #FFFFFF !important;
    box-shadow: #c2c2c2 0 3px 8px 1px;
}

/* Default styling for project table cells */
#projectstatus th,
#projectstatus td {
    color: #333;
}
/* Style project table header links */
#projectstatus th a {
    color: #999999;
    font-weight: normal;
}

#projectstatus th a:hover {
    color: #666666;
}
/* Reduce size of first project table header cell to setup status stripes */
#projectstatus th:first-child {
    padding: 0 !important;
    width: 10px !important;
}
/* Hide first project table header cell contents */
#projectstatus th:first-child * {
    display: none;
}
/* Base styling for project status project table cell, gray background by default to catch all project status states */
#projectstatus td:first-child {
    border-left: 1px solid #E6E6E6;
    border-right: 1px solid #E6E6E6;
    background-color: #CCCCCC !important;
}
/* Hide standard Jenkins project status "ball" graphics in project table */
#projectstatus td:first-child img {
    display: none;
}
/* Error state (red) styling for project table */
#projectstatus td:first-child[data="0"] {
    background-color: #C40022 !important;
}
/* Building state (orange stripes) styling for main project table and build process table on left side */
#projectstatus td:first-child[data="1"],
#projectstatus td:first-child[data="3"],
#projectstatus td:first-child[data="5"],
table.progress-bar.red td.progress-bar-done{
    background-image: url("data:image/png;base64,R0lGODlhGgAaALMAAP+7Hv+3Gv+3GP+1GP+lCP+lBv+jBv+jBP+hBP+fAP+dAP4BAgAAAAAAAAAAAAAAACH/C05FVFNDQVBFMi4wAwEAAAAh+QQFBQALACwAAAAAGgAaAAAEm3CACQJKKicjqcWaQQEDASpbN5Vn6hktoVZwhsrUUGtIMOqtXs5kSxB8wxiS1uKMAjuUk0IMLUlV6XUQm0G7T0Nxuoq6cjvj9Vs8hkHncnMGtD6zm3WWTDLz6xpbeAaCTT9mOGhgcmNbfksBeIkTkYsVF2NemCEqLJk/gzOIdKM/QY6nh22Fq6Bwf36kr3ShrhqTfZa5Nn+1SUURACH5BAUFAAsALAAAAAAaABoAAAR80Kw5A6Xy2svXIFxGfaHGJaB5odfQIZzLwWM6sa294FUn9qVaUHj5dXhACnKxwcR8T6WOeZo2J0ZZMerUTI0BXRbaGk5I21ynvJpqb7o3ltut6JbhtipNuc6JdWdfbFJ0O4MXNCMvdEtocDFihgtjfIJmHjaOVYZZiIALEQAh+QQFBQALACwAAAAAGgAaAAAEfHCZRWmodeKLdR0EJokguYlJeGIpNqCIKcafSrWuveAW6vWiX6lD0o0qnAoPqDT6ZEQXy5i8UYPQTPaINP4WAd33hZVGa2V0xUhubhPv8bM7FYXryHk+vRhqc3xtVm86ghQ0HzAiOkt9jGx8fXoUhmNeRW5mmYlnlJeAFBEAIfkEBQUACwAsAAAAABoAGgAABH1wLSNrqJXii3UdBDaJIBZuYnJaKZkirgh/66KS9c2KnsR1mBIwmOv9JLpdJbkYpHrNJw/DXBxtNes0KOUOLVlooAZ1bj9niTCDW2bN7hjb+1W3NrnsmFq7jlBpaxJlYXRIbyk1cBUzaDJEfG1xImlRlYt/NJcrVZidm6ALEQAh+QQFBQALACwAAAAAGgAaAAAEfnBJI2uoleKLdR0EtngSWCXhJqIiVyHisMKY3NapxOLYLrmZm4hk6sRyE1UPuQAufAubsbYiOaHNFbMa41KnFiapiRxLg1/0R3w8Mc/P97A7T0uYASQ23xOCf14lbDx/cFiGSIY0HzOEOm96iYElkwuDa3WMbnSbdiNtf1EhEQAh+QQFBQALACwAAAAAGgAaAAAEfnDJZaYMVlaL7Z4DkX1SOCUil6FZNyHZsMKWbKUgvrC1nrQr0sI1IZk8MR+JuNMNVzobshZUWXgTJnYhLcaqt1HLKWQKu5rvNCfunZzoLbcNAtff46szoCvbLytJdCVkVHpqeHcWNIovbolskHODk2tchY9eGYeGkpVpmaA5EQAh+QQFBQALACwAAAAAGgAaAAAEjXBJmcxcINxVb77dBAwEaImkpCSlqE1rK31TgnjDZuMwi8uxX+00ew09RgkRkzqigAnkJeia+mY5E09btMowSSpTtxyRXd9QMb3MOrFnEVv4Hquu8N7XXOf33WJgUHsBMmpgcV1/c08Xe24LgX6RUSg6N5YgmEyDdJQykxxlkKKNi1x2d49eF00Uo4wzEQAh+QQFBQALACwAAAAAGgAaAAAEezCsSQ2d8i57iebU4F3gNFzJSGVUqrETop2afNGTe6uLHvKlBWwSHAZFnxmPJ9T4MM6Z8zi9DJ9NFA9XkSZXzGL4ViV/TePdWZNjcnvu9eK98bZfPGwA+GIX5UgkSi1xWnYxh4hmbD+GaoSLXZFEj5KNgiFOhZCXlmhrEQAh+QQFBQALACwAAAAAGgAaAAAEfHCFRaupdOJ16yBb54GYuFEJWWlVurEUsg2njNGtSn2Ye+smySkI48x0xl/utfGtQrNh9IQpOjNNHa405a6QRPBNOoaOzGfvLttFidVrdNz90l0lQKZcCF/w+n8Ld1t0ZRU2HjVtC0iBgo12i0mJco6TO29zhZRLaRZHaBEAIfkEBQUACwAsAAAAABoAGgAABH1wrSDrMnbmawfJWPdZoURZyVidVbplSDZscYeqknfLeGluPg2JByJKXBbWESesBGdFm4WpXCBXmYQMuI2amMEAWDokO0Xe3LgCbTHbS7PkyZ3ukrjrr4xNN+dGZ2hxcnoLcAs1bDRdhGx5bz2Ngosvj346fIdZb5yDlGpREQAh+QQFBQALACwAAAAAGgAaAAAEf3DJIOsydtGM6yBc9oXVViWgZUqoNWQLIsKylbK3NJ758lqdEiw4IXl6RN+tpcowhcCZUWd5Fqu91UUadcEyASRY7BlyK8QdWkSmYs8L669bnobfqpz1m9Rum3Q6bYI8cHtzEjV1FopuOGx4R4E+Zl6TahJJmDCIcT2dcoNKIREAIfkEBQUACwAsAAAAABoAGgAABHxwyRXmNJbmhecgWeeBlqhZCTlVqLoMG5LBmTy2s5tuYcaWvp7lI7xJdpbf0XW6zDamFy6ZQa6KEhpwiKUwowHms6t1Gs1niam8sGarLjZnvJWEpyudS6kOdr85ZHhvg1IWNh4xdG1MRBNuLy5RcpNkgEMujXCLbYF1WV8RACH5BAUFAAsALAAAAAAaABoAAAR9cEkZ5jR21YznIFz2hdM2JaBlSqg1ZAsiwrKXsrc0nvkqdSUYUJJbDBe7y4yX8bVUJI9wiWtmnkHL8RXVdTXFYyC3nbpgonC6y2WeLVikWdodw4t2N2W+Z6tdf2gLcXJ3VBI1dBaJXno6OYRJRoc/lFuBj46Fmm2VgF+SCxEAOw==") !important;
}
/* Unstable state (yellow) styling for project table */
#projectstatus td:first-child[data="2"] {
    background-color: #FFB518 !important;
}
/* Success state (green) styling for project table */
#projectstatus td:first-child[data="4"] {
    background-color: #00A96D !important;
}
/* Building state (orange stripes) styling for build process table on left side */
table.progress-bar.red td.progress-bar-done {
    background-color: #CC0000;
    border: 1px solid #BBBBBB;
}
/* Building state (green stripes) styling for build process table on left side */
td.progress-bar-done {
    background-color: #3465A4;
    background-image: url("data:image/png;base64,R0lGODlhGgAaAMQAAH7Vt2zPq2rNq2bNqWjNqSC1gR6zfhyzfhizfByzfBqzfBixehaxehKxeBSxeBCvdg6vdgKrbgCpbP4BAgAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAACH/C05FVFNDQVBFMi4wAwEAAAAh+QQFBQATACwAAAAAGgAaAAAF0+AAjEDwRFIaISJpoipCAoMBS9HSjvWd74KFz0CYBYdFnjCFewhmg6XKSRochgHolRkxZEcCh09nFHPJJNv5SSKoVQv2iOA77ADh+j3MddwHCj5+UIEqBnJ4CUOIAooqDklzZo+RAASTEQqMbziaRpwJf5M4oVCjEYhWgqlbj1pIr1xEVQyrULV9cgIFeka8XHYkAifAe8QqwXOcEQx3bj7NM1I4BX/TEdVQPlRVCNupCLKpy4dQbzmVBA1j6esxzr/vMwTxXX/uhvc3DX/L/OY+QgAAIfkEBQUAEwAsAAAAABoAGgAABc8gMkwkEDwkGYmpiabRWA4GHC3yBND20go+mIHwC6qGM+Mk8hC0BkqmUzc42AyBp1WY1QkcvRzgG04RarDFVHfurQFg2EFMltNtDvFAgdfzj28CCVeBgyoORCUEcYeJbIwRCoFoKpI/lBEJepCZmzAOb1V4oVsqjjulS0gzqRGUOwyjT7GfU2MFNnM/uHYlAi8qur7AS8IAbTAMYsgqyilQNgV6UdItCDZNT9cw2TOET5iuoZgLpwQNPeboKiyKvOzL765660f0MA164fngMCEAIfkEBQUAEwAsAAAAABoAGgAABdBghAxTCQRPWYqkiarT0k7AYMCRrNa3GhE7wQJnAJqExN1g6HsIlMyV0zQ4EANKq8+ApQkcON0R7BMDCL3V4mlCh9mTL+4wA8h99J0C56gP9j59SkRwdgmEQYcrDkY0BGSLjWeQEQqFAmkTlZdpEQl+lJ6ggYVVfKVaJUVZRJKmPqUMp0qygUEFc3UCuHgtdim9QcAreY6ZEQx1bj7JVFGaBX7PEdEqAwg4U1TYTYXHBqXfpWGSBA3kO+Y+I+m8K+xt7hEGfudb9T4Nfsf6SmkhACH5BAUFABMALAAAAAAaABoAAAXTYBQhA2ACwSOJInmiKruU52CsMm3aeGQQL8Gi5wOehETBazBkRR7KWpP1WB6IhoAVqzUJHMRZEOwUmwi3cvSclq2/xIMOAHfKawqiYz7IO/cvCVhrdIJOBoQCekZnZCwOjAAEDk4KiW0ilkGYCXyOIp1Lnw6EA1d/paciP1uHkaY9pEsMeqW0TnMCBXG5u3ZBMSx3R8Eiw5KYEQxzaETLUkQFfFMi0jUIRFBL2E7aO8mIS+CEDWGRBOVl50QuJwS+LO1nBYd86SwG9j0NfMn84itCAAAh+QQFBQATACwAAAAAGgAaAAAFzGAkIgNgAsEjruSJqutSnoOxirJb3wbhCotbpPcLrh4CnfGYpC1FAd1BaIjSpryfQ5g7Cba3LoBgCzdNZO75KzzMTOybm6YQOt6AQf129yaoZwACfzyBYCsOPicEhyKJLgRCCoECZSuTP5YRCXgDjZudjQ6BA1iIpKZDiialVKt5qaM6DHaktCtzXgVteAK7N70wuMFtkJoRDHhpN8lOQgWdTxHQNAhCSDrWN9isxwak3mcEDVyv4+UuvyzK6iPKVJ3kPPE3DZ3H9jo2IQAh+QQFBQATACwAAAAAGgAaAAAFzmAkRsgAnEDwjGKJpuu4mOhgsNH82qxBvIIFzgcUjh6CnfGYrC0jhsDuMJTWqCzaSeDA6VBc74twYy2aJ7IXHWYdtID26F1T4BzwgZ2FByeGaHF/PWgEXXw/KIZ3iSdlIwqBAo8ikUA4CXmHI5k7mxEOgQNYI6FTPY0Ao0Opq6WiDHewbnACBTh0YLdztTG8QL4icGosDMOUEQxKOAV5TxHNNQg4SDvTLNUnPIQ7yAaFDV6pBOFmjQS7Iy6K6S1w5SMGefAi8js4DXnI+d0hACH5BAUFABMALAAAAAAaABoAAAXV4BONUoQMQAoEImmiajBG5QKngzHXN5C7BoIKIFjsIsFh0fUQDAdGplMFBQaeh6PhSs3ObErHEawSiEmLaYqgc6WH7GPPfDzMz7TI4ak4OnoDfS5/ZQlaakSGQGoEeCUOQiqNfpFEbXkKiAKXJZlUjhEJgKCiQ155DogDp4+qWpU+rEiwq4OqDH63LnZKBXVzvnm8ZS3Cc8URDD1xLspwnAWAUXnRT9MlqghHTU/aTE+cSKrhBowNY7AE526VBMF5J3DvJfE463kGgPcl+VThDYD+9QgBACH5BAUFABMALAAAAAAaABoAAAXUYPBM5BQhQwmIpYmqRhstKQkMcTnX0y0bBJVg8QvahrqHQDUgJpe2ps4QYB5+1eiVtBM6ZDSvbgHtEXJcsurcOvAAgq/OLda9BwqZ457XyXsCCT9lcIJTUAAEfyYORmaLEY1HaCYKhAKUEZZRkAl3nTwDW1wOhKJ6hKMmQFZFTKhMDLBRslx0RwUyt4C5tm8CI3O/wSYMb2w6xmtoEQV3TlzOTNATSkwIMtZR2DqmmQbeP2sNYI6J5GNGib1cLzYE7C41N+hcBnf1q/M4Mg13mf5KhAAAIfkEBQUAEwAsAAAAABoAGgAABdAgEDxTOUXIYIqkiarlYLjRAk+ATNvrQhuElcDnAgppD8FqQCxFkstmxBBYHn7VUu7q5GkFjt0NAHYtlFrCzIzGqV2HcRkuD5sc44GChl/uXW1kCT+BAoNFKwR2Tg5BaYsnjV9rTgqFlCeWWgOQEQl5nZ+bXIyBA6SRbac/jjirRa0ADHymsy4OpjRxQgW6cr1Ou18twXLEEQxjby7JiZQRBXlS0NIuUJsISKbZJgammFPfNLEEDTvk5maJwE4p6zTurulOBnnzJ/Wb4A15+zAhACH5BAUFABMALAAAAAAaABoAAAXQ4AQEz2ROETKcY3mmqzgYb7TEMv3ep7DUBgLLBxSaAL/XQ8AaJE2RZRMYaB6o1h0OIHDUeMfujnkk6KALssj8OmzF7bcX6tgOFLV6E38yqLkJQH8CgS9Ga3N0hwAEiSiJXGcoCoOSEZRHA44RCXabnZlXLw5/A6J0ZACmRVkvQScDDHmlsqN/BTVuQ7hxQ7lvLlC6YcERDFtsL8csySgFdk/O0EqlCDVSmdZQfk2W3JmSC4sEDV/j5S/IvFAqzOso2jLo23bzKAYxqpYNdvsrIQAh+QQFBQATACwAAAAAGgAaAAAFzSAgBk9kmsggjuUZpetguNGixrNrr8JCG4QVoPcLigY+10MgRNKWwsMv0JS6DNQYbcdzbG8igfe0YK4IObJZhHYdwMPx6S0UuxzwgYKGb+5PBmtDCT+CAoQnDkZsciaKQgSNEYZpJgqUNApNkgl5nGADVomCoXxrpVeLAKiAiwMMpk2wd2sCBTR0PLducC1zcAK+JrlhNAxwbS7HkJUFeUknzk3QEVAxCE+k2ICklRGBTZULqgQNW+TmJzBnu+rI7SZ56YDyP+E0DXne+SEAIfkEBQUAEwAsAAAAABoAGgAABc0gIALBE50nMoykiUbqOBhvtKwy/d6jsNQGAssHFIoGv9dDwELWlrIDMNCUvgzUkaPG6213OJGAyxwRdKhFWXR+HcIAwRf1Hs4jDvhAUcs3+SgGa3EJQIMChSgORmx3eIwABHcKh2gnlEOWEXqOCZw1CVV9gwNWimulRaJXjAMMo02vLw5rAgU1dT23bmECLnRwvrhwmgxwbS/GLAQ1BXpJKM5N0BFQMghPpNiBpJqCTZYLkAQNXOPlKDFmu+nH7BEGeuiB8jV6mg33NQ0hACH5BAUFABMALAAAAAAaABoAAAXN4ACMQPBEKIqIpJmqJDAYb7Sw41zfpLDUBkLMBxTmfq+HIDZAppSkwQEYYE5fhupI4NjhAFxvjPZaLEkEcsocI9QO3/ALPuymHN+BooZn7lMGZ1sJQIJghHdGIwR2iW2NEQqGAmookkOVCXmQEZpMnIZSfKFXd1ZFp1iKAwyjTK0vDoICBW9xtXM4Aie5Q7wpdIuVEQxfaTXFMU4oBXnLEc1MNVBRCNOh1oChw4FMlQuKAAQNO+HjLyttuCnpaOsRBnnkWPIvDXnD9941IQA7") !important;
    border: 1px solid #BBBBBB;
}
/* Border styling for empty progress bar of build process table on left side */
td.progress-bar-left {
    border: 1px solid #BBBBBB;
}