<style>
    #filePicker {
        font-size: 12px;
        width: 300px;
        height: 40px;
        color: transparent;
    }

    #filePicker::-webkit-file-upload-button {
        display: none;
    }

    #filePicker::before {
        display: inline-block;
        margin-bottom: 1rem;
        color: rgba(255, 255, 255, 0.7);
        background-color: #26a69a;
        transition: color 0.2s, background-color 0.2s, border-color 0.2s;
        font-size: 12px;
        padding: 0.75rem 1rem;
        border-radius: 1px;
        font-weight: bold;
        box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
        -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
        -moz-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
        text-transform: uppercase;

        content: 'Select your company logo...';
        -webkit-user-select: none;
        cursor: pointer;
    }

    #colors {
        width: 100%;
    }

    #colors div {
        width: 120px;
        height: 40px;
        padding: 9px;
        float: left;
        text-align: center;
        cursor: pointer;
        font-size: 16px;
        margin: 3px;
    }
</style>


<h2>New: Use Material Theme with your company logo!</h2>

<h3>Select your color</h3>
<div id="colors"></div>
<div style="clear: both"></div>

<h3>Choose your company logo</h3>
<ul>
    <li>Minimum height: 40px</li>
    <li>Preferred type: Transparent PNG</li>
    <li>Preferred size: up to 10KB</li>
</ul>

<input type="file" id="filePicker">
<a style="display:none; background-color: #26a69a" href="" class="btn" id="download"
   download="jenkins-material-theme.css">↓ &nbsp;Download your theme!</a>


<script>
    var colors = {
        'red': '#F44336',
        'pink': '#E91E63',
        'purple': '#9C27B0',
        'deep-purple': '#673AB7',
        'indigo': '#3F51B5',
        'blue': '#2196F3',
        'light-blue': '#039BE5',
        'cyan': '#0097A7',
        'teal': '#26A69A',
        'green': '#43A047',
        'light-green': '#689F38',
        'lime': '#AFB42B',
        'yellow': '#FBC02D',
        'amber': '#FF6F00',
        'orange': '#EF6C00',
        'deep-orange': '#FF5722',
        'brown': '#795548',
        'grey': '#757575',
        'blue-grey': '#607D8B'
    };

    var colorElement = document.getElementById('colors');
    for (var name in colors) {
        var el = document.createElement('div');
        el.style.backgroundColor = colors[name];
        el.style.color = 'white';
        el.innerHTML = name;
        if(name =='teal'){
            el.className = 'selected';
        }
        el.onclick = function () {
            colorElement.childNodes.forEach(function (child) {
                child.className = '';
                child.style.display = 'none';
            });
            this.className = 'selected';
            this.style.display = 'block';
            reloadCss();
        };
        colorElement.appendChild(el);
    }

    var originalCss;
    var newCssPrefix = "#header{background-image: url('data:image/png;base64,";
    var newCssSuffix = "');background-repeat:no-repeat;" +
            "background-size: auto 40px, cover;" +
            "background-position: 10px 10px;}" +
            "#jenkins-home-link{display:none !important}";

    function reloadCss() {
        var orignalCssRequest = new XMLHttpRequest();
        orignalCssRequest.onload = function () {
            originalCss = this.responseText;
        };
        orignalCssRequest.open('get', 'dist/material-' + document.getElementsByClassName('selected')[0].innerHTML + '.css', true);
        orignalCssRequest.send();
    }

    var onFileChange = function (changeEvent) {
        if (!changeEvent.target.files) return;

        var reader = new FileReader();
        reader.onload = function (readerEvent) {
            var imageBase64 = btoa(readerEvent.target.result);
            var newCss = originalCss + newCssPrefix + imageBase64 + newCssSuffix;
            document.getElementById('download').href = "data:application/octet-stream;base64," + btoa(newCss);
            document.getElementById('download').style.display = 'inline';
            document.getElementById('filePicker').style.display = 'none';
        };

        reader.readAsBinaryString(changeEvent.target.files[0]);

    };

    if (window.File && window.FileReader && window.FileList && window.Blob) {
        document.getElementById('filePicker').addEventListener('change', onFileChange, false);
    } else {
        alert('The File APIs are not fully supported in this browser.');
    }
</script>
