<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{{ site.meta_title }}</title>
    <meta name="description" content="{{ site.meta_description }}">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="{{ "css/cayman.css" | prepend: site.baseurl }}">

    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
    <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}">

    <meta http-equiv="Expires" content="604800">
    <link rel="icon" type="image/png" sizes="96x96" href="favicon.png">

    <!-- Facebook -->
    <meta property="og:title" content="{{ site.title }}">
    <meta property="og:type" content="website">
    <meta property="og:description" content="{{ site.description }}">
    <meta property="og:image" content="https://raw.githubusercontent.com/jenkins-contrib-themes/jenkins-material-theme/gh-pages/images/capa.png">

</head>
