<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{{ site.meta_title }}</title>
    <meta name="description" content="{{ site.meta_description }}">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="{{ "css/cayman.css" | prepend: site.baseurl }}">

    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
    <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}">

    <meta property="og:image" content="images/screen1.png">
    <meta property="og:image:type" content="image/png">   
    <meta property="og:image:width" content="400">
    <meta property="og:image:height" content="247">

    <meta http-equiv="Expires" content="604800">
</head>
