<!DOCTYPE html>
<html lang="en-us">

{% include head.html %}

<body>

{% include header.html %}

<section class="main-content">

    <div style="text-align: center">
        <iframe src="https://ghbtns.com/github-btn.html?user=jenkins-contrib-themes&amp;repo=jenkins-material-theme&amp;type=watch&amp;count=true&amp;size=large"
                allowtransparency="true" frameborder="0" scrolling="0" width="152" height="30"></iframe>
        <iframe src="https://ghbtns.com/github-btn.html?user=jenkins-contrib-themes&amp;repo=jenkins-material-theme&amp;type=fork&amp;count=true&amp;size=large"
                allowtransparency="true" frameborder="0" scrolling="0" width="156" height="30"></iframe>
    </div>

    {% include builder.html %}

    {{ content}}
</section>

{% include footer.html %}

</body>

</html>
